Repository eelston/326Group11, pull requests merged in 2025-05, with the labels that each got.

#90 Course Catalog Data Structure
  backend/src/controller/SettingsController.js
  backend/src/model/SQLiteSettingsModel.js
  backend/src/models/settings.js
  backend/src/routes/SettingsRoutes.js
  backend/src/routes/settings.js
  backend/src/server.js
  database.sqlite
  frontend/src/components/UserProfileComponent/UserProfileComponent.js
  frontend/src/lib/data/MockUser.js
  frontend/src/lib/models/User.ts
  package-lock.json
Labels: enhancement, data

#93 Login and SignUp
  .gitignore
  backend/src/auth/hmac.js
  backend/src/auth/middleware.js
  backend/src/auth/passport.js
  backend/src/controller/RegisterController.js
  backend/src/controller/UserController.js
  backend/src/data/locations.json
  backend/src/model/SQLiteUserModel.js
  backend/src/routes/UserRoutes.js
  backend/src/server.js
  database.sqlite
  frontend/src/components/RegisterComponent/RegisterComponent.css
  frontend/src/components/RegisterComponent/RegisterComponent.js
  frontend/src/eventhub/Events.js
  frontend/src/pages/LogInSignUp/index.html
  frontend/src/pages/LogInSignUp/main.js
  frontend/src/pages/LogInSignUp/style.css
  frontend/src/pages/Register/index.html
  frontend/src/pages/Register/script.js
  frontend/src/services/RegisterRemoteService.js
  frontend/src/services/UserRepositoryRemoteService.js
  package-lock.json
  package.json
Labels: UI, data, server

#95 Settings Screen Backend and Multiview
  backend/src/controller/SettingsController.js
  backend/src/model/SQLiteSettingsModel.js
  backend/src/routes/SettingsRoutes.js
  backend/src/server.js
  database.sqlite
  frontend/src/components/AccountSettingsComponent/AccountSettingsComponent.css
  frontend/src/components/AccountSettingsComponent/AccountSettingsComponent.js
  frontend/src/components/PreferencesComponent/PreferencesComponent.css
  frontend/src/components/PreferencesComponent/PreferencesComponent.js
  frontend/src/components/ProfileSettingsComponent/ProfileSettingsComponent.css
  frontend/src/components/ProfileSettingsComponent/ProfileSettingsComponent.js
  frontend/src/components/SettingsComponent/SettingsComponent.css
  frontend/src/components/SettingsComponent/SettingsComponent.js
  frontend/src/lib/data/MockCourses.js
  frontend/src/pages/Settings/index.html
  frontend/src/pages/Settings/script.js
  frontend/src/pages/Settings/style.css
  frontend/src/services/SettingsRepositoryService.js
Labels: enhancement, UI, data, server

#94 Report & Location Integration and Rendering
  backend/locations/controller.js
  backend/locations/locations.js
  backend/locations/routes.js
  backend/reports/controller.js
  backend/reports/report.js
  backend/src/data/demo.js
  backend/src/data/locations.json
  frontend/src/components/LocationBrowsingComponent/LocationBrowsingComponent.css
  frontend/src/components/LocationBrowsingComponent/LocationBrowsingComponent.js
  frontend/src/components/LocationCardComponent/LocationCardComponent.css
  frontend/src/components/LocationCardComponent/LocationCardComponent.js
  frontend/src/utility/reportUtils.js
Labels: UI, data, server
